---
title: Satnegirji.org
---
<div class="search-box">
  <form class="search-form" action="<%= api_url %>" method="GET">
    <input type="text" name="query" />
    <input type="submit" value="&rarr;" />
  </form>
</div>
<p id="inner-page"></p>
