---
title: Satnegirji.org
---
<div class="search-box">
  <form class="search-form" action="<%= api_url %>" method="GET">
    <input type="text" name="query" />
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
<p id="inner-page"></p>
